.large {
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin: 10px;
}
.medium {
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin: 10px;
}
.small {
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin: 10px;
}
.container {
  margin: 80px auto;
  width: 50%;
}
.table-container {
  position: relative;
  max-height:  300px;
  width: 500px;
  overflow: scroll;
}
select{
  padding: 5px;
  margin: 2px;
}
